body {
    background-color: white; /* Change to your desired darker gray color */
    color: #EB3F50; /* Set font color to white */
    font-family: 'Open Sans', sans-serif;   

}

h1 {
    font-weight: 900;
    color: #FFFFFF;
    font-family: 'Core Sans', sans-serif;
    justify-content: center;
}

.page {
    width: 850px;
    background-color: #F5F5F5;
    margin: auto;
    border: 1px solid black;
}

.vis-container {
    width: 100%;
    border: 1px solid black; /* Add a border to .vis-container */
}

.description h2,
h1 {
    margin-top: 0px;
}

h2 {
    color: #252525;
}

p {
    color: darkslategrey;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
    background-color: #F5F5F5;
    padding: 10px;
}

.pure-g1 {
    background-color: #EB3F50;
    padding: 10px;
}

.small-font {
    font-size: 14px;
}

.centre-text{
    text-align: center;
}    
